<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1>Angular with bootstrap</h1>

                <p>
                    Gallery of examples, pages, snippets for Angular-Bootstrap web projects.
                </p>

                <p>
                    <a class="btn btn-default btn-lg" href="#!/search/" role="button">Learn more</a>

                </p>
            </div>
        </div>
    </div>

</section>
