h1,
h2,
h3,
h4,
h5,
p {
  direction: rtl;
}
div {
  direction: rtl;
}
.table {
  direction: rtl;
}
.input-group {
  direction: rtl;
}
.checkbox {
  direction: rtl;
}
.navbar-nav {
  padding-right: 0px;
  padding-left: 0px;
}
