<html>
<script>

    //5 lines and in less than 60 tokens.
function Min(a, b) {
    return a > b ? b : a;

}
    function func(s, a, b) {
        var match_empty = /^$/;
        if (s.match(match_empty)) {
            return -1;
        }
        else {

            var aIndex = s.lastIndexOf(a);
            var bIndex = s.lastIndexOf(b);

            var i = 0;
            var aIndex=-1;
            var bIndex=-1;

            while ((aIndex==-1) && (bIndex==-1) && (i<s.length))
            {
                if (s.substring(i, i+1) == a)
                    aIndex=i;
                if (s.substring(i, i+1) == b)
                    bIndex=i;
                i++;
            }
            //console.log('aIndex ', aIndex, ' bIndex ', bIndex);


            if (aIndex != -1) {
                if (bIndex == -1)
                    return aIndex;
                else
                    return Min(aIndex, bIndex);
            }
            else {
                if (bIndex != -1)
                    return bIndex;
                else
                    return -1;
            }
        }
    }

    function func1(s, a, b) {
        if  (s.match(/^$/)) return -1;
        var aIndex = s.indexOf(a);
        if (aIndex == -1) return s.indexOf(b);
        var bIndex = s.indexOf(b);
        return bIndex != -1 ? Min(aIndex, bIndex) : -1;
    }
    console.log(func1('', 's', 'f'));
    console.log(func1('goosfoo', 's', 'f'));
    console.log(func1('gofosfoo', 's', 'f'));

    console.log('----');
    console.log(func('', 's', 'f'));
    console.log(func('goosfoo', 's', 'f'));
    console.log(func('gofosfoo', 's', 'f'));

</script>
</html>