<html>
<script>

    function checkBrackets(str) {
        var bracketsOpen = {'(': ')', '{': '}', '[': ']'}, bracketsClose = {')': '(', '}': '{', ']': '['};
        var stack = [];
        for (var i = 0; i < str.length; i++) {
            var c = str.charAt(i);
            if (bracketsOpen[c] !== undefined) {
                stack.push(c);
                continue;
            }
            if (bracketsClose[c] !== undefined) {
                var mustBeInStack = bracketsClose[c];
                if (stack[stack.length - 1] === mustBeInStack)
                    stack.pop();
                else
                    return false;
            }
        }
        return stack.length == 0;
    }

   console.log(checkBrackets(''));  // true
    console.log(checkBrackets('()'));  // true
    console.log(checkBrackets('a(b)')); // true
    console.log(checkBrackets('[{}]')); // true
    console.log(checkBrackets('[(]')); // false
    console.log(checkBrackets('}{'));  // false
    console.log(checkBrackets('z([{}-()]{a})')); // true
</script>
</html>